<page-wrapper page-title="View Script" ng-if="$ctrl.loaded">
    <div class="mb-3">
        <a ng-href="/scripts/script/{{ ::$ctrl.script.ID }}/edit/" class="btn btn-sm btn-outline-primary"><i class="fas fa-pencil-alt"></i> Edit</a>
        <button type="button" class="btn btn-sm btn-outline-danger" ng-click="$ctrl.deleteScript()"><i class="fas fa-trash-alt"></i> Delete</button>
        <a ng-href="/scripts/script/{{ ::$ctrl.script.ID }}/execute/" class="btn btn-sm btn-outline-success"><i class="fas fa-play"></i> Execute</a>
    </div>
    <div class="row card-padding-bottom">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    Script Information
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name: <strong>{{ ::$ctrl.script.Name }}</strong></li>
                        <li class="list-group-item">User ID: <strong>{{ ::$ctrl.script.UID }}</strong></li>
                        <li class="list-group-item">Group ID: <strong>{{ ::$ctrl.script.GID }}</strong></li>
                        <li class="list-group-item">Working Directory: <code class="monospace">{{ ::$ctrl.script.WorkingDirectory }}</code></li>
                        <li class="list-group-item">Executable: <code class="monospace">{{ ::$ctrl.script.Executable }}</code></li>
                        <li class="list-group-item">Enabled:&nbsp;<true-false value="$ctrl.script.Enabled"></true-false></li>
                    </ul>
                </div>
            </div>
            <div class="card mt-3" ng-if="::$ctrl.script.comments !== ''">
                <div class="card-header">
                    Environment Variables
                </div>
                <div class="card-body">
                    <environment-view envs="$ctrl.environmentListSorted"></environment-view>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    Enabled On Hosts
                </div>
                <div class="card-body">
                    <script-host-list script="$ctrl.script" hosts="$ctrl.hosts"></script-host-list>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    Script
                </div>
                <div class="card-body">
                    <pre class="monospace">{{ $ctrl.script.Script }}</pre>
                </div>
            </div>
        </div>
    </div>
</page-wrapper>