[Unit]
Description=Otto Client
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/otto/
ExecStartPre=cp -f /opt/otto/otto /opt/otto/.otto_running
ExecStart=/opt/otto/.otto_running
ExecStopPost=rm -f /opt/otto/.otto_running
TimeoutSec=5000
Restart=on-failure

[Install]
WantedBy=multi-user.target