.DS_Store

# executables
/.otto_dev

# Artifacts
artifacts/
scripts/Docker/
scripts/client_rpm/build
otto-*/

# Logs
*.log

# Data Directory
/data
/logs

# cmd executables
otto/cmd/client/*
!otto/cmd/client/*.go
otto/cmd/server/*
!otto/cmd/server/*.go

# Frontend
/frontend/node_modules
/frontend/build
/frontend/fonts/*
/frontend/copy/assets/js
/frontend/copy/assets/css