<div class="modal-header">
    <h5 class="modal-title">Select Groups</h5>
</div>
<div class="modal-body">
    <div class="form-group form-check">
        <checkbox label="{{ group.Name }}" model="$ctrl.selectedGroups[group.ID]" ng-repeat="group in $ctrl.groups"></checkbox>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" ng-click="$ctrl.response(false)">Discard</button>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.response(true)">Apply</button>
</div>
