pre {
    font-family: 'JetBrains Mono', 'Fira Code', 'Fira Mono', 'SF Mono', 'Consolas', 'Courier New', Courier, monospace;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.pre-wrapper {
    max-height: 200px;
    overflow-y: auto;
}
