.card {
    &.card-success {
        .card-header {
            background-color: #b2dfbc;
        }

        border-color: #6dc381;

        .list-group-item {
            border-color: #6dc381;
        }
    }
    &.card-danger {
        .card-header {
            background-color: #f2b6bc;
        }

        border-color: #e77681;

        .list-group-item {
            border-color: #e77681;
        }
    }
}

.cards .card:not(:first-child) {
    margin-top: 1rem;
}
