input.fixed-width,
textarea.fixed-width {
    font-family: 'JetBrains Mono', 'Fira Code', 'Fira Mono', 'SF Mono', 'Consolas', 'Courier New', Courier, monospace;
}

.form-required {
    color: #D32F2F;
    font-weight: bold;
}

.invalid-feedback.force-show {
    display: block;
}
