<page-wrapper page-title="View Host" ng-if="$ctrl.loaded">
    <div class="mb-3">
        <a ng-href="/hosts/host/{{ ::$ctrl.host.ID }}/edit/" class="btn btn-sm btn-outline-primary"><i class="fas fa-pencil-alt"></i> Edit</a>
        <button type="button" class="btn btn-sm btn-outline-danger" ng-click="$ctrl.deleteHost()"><i class="fas fa-trash-alt"></i> Delete</button>
    </div>
    <div class="row card-padding-bottom">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    Host Information
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name: <strong>{{ ::$ctrl.host.Name }}</strong></li>
                        <li class="list-group-item">Address: <strong>{{ ::$ctrl.host.Address }}:{{ ::$ctrl.host.Port }}</strong></li>
                        <li class="list-group-item">Enabled:&nbsp;<true-false value="$ctrl.host.Enabled"></true-false></li>
                    </ul>
                </div>
            </div>
            <div class="card mt-3" ng-if="::$ctrl.host.comments !== ''">
                <div class="card-header">
                    Environment Variables
                </div>
                <div class="card-body">
                    <environment-view envs="$ctrl.environmentListSorted"></environment-view>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Groups
                </div>
                <div class="card-body">
                    <nothing ng-if="$ctrl.hosts.length === 0"></nothing>
                    <div ng-repeat="group in $ctrl.groups">
                        <h6>
                            <i class="fas fa-layer-group"></i>
                            <a ng-href="/groups/group/{{ group.ID }}/">{{ group.Name }}</a>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Scripts
                </div>
                <div class="card-body">
                    <nothing ng-if="$ctrl.hosts.length === 0"></nothing>
                    <div ng-repeat="script in $ctrl.scripts">
                        <h6>
                            <i class="fas fa-scroll"></i>
                            <a ng-href="/scripts/script/{{ script.ScriptID }}/">{{ script.ScriptName }}</a>
                            <a ng-href="/scripts/script/{{ script.ScriptID }}/execute/?host={{ $ctrl.host.ID }}" class="run-script-button"><i class="fas fa-play-circle"></i></a>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</page-wrapper>