<page-wrapper page-title="Groups">
    <div class="mb-2 buttons">
        <create-new link="'/groups/group'"></create-new>
    </div>
    <page-loading ng-if="$ctrl.loading"></page-loading>
    <nothing ng-if="$ctrl.groups.length === 0"></nothing>
    <table class="table table-sm" ng-if="$ctrl.groups.length > 0">
        <thead><tr>
            <th>Name</th>
            <th>Hosts</th>
            <th>Scripts</th>
            <th></th>
        </tr></thead>
        <tbody>
            <tr ng-repeat="group in $ctrl.groups">
                <td><a ng-href="/groups/group/{{ group.ID }}">{{ group.Name }}</a></td>
                <td>{{ group.HostIDs.length }}</td>
                <td>{{ group.ScriptIDs.length }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary btn-xsm" type="button" id="menu{{ group.ID }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="menu{{ group.ID }}">
                            <a class="dropdown-item" ng-href="/groups/group/{{ group.ID }}/edit"><i class="fas fa-edit"></i> Edit</a>
                            <a class="dropdown-item" ng-click="$ctrl.deleteHost(group)"><i class="fas fa-trash"></i> Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</page-wrapper>