<page-wrapper page-title="{{ $ctrl.title }}" ng-if="$ctrl.loaded">
    <form class="form" name="executeForm" novalidate ng-submit="$ctrl.save(executeForm.$valid)" ng-if="$ctrl.stage === 'input'">
        <div class="card mt-3 mb-3">
            <div class="card-header"><i class="fas fa-layer-group"></i> Groups</div>
            <div class="card-body">
                <div class="form-check">
                    <checkbox label="All Groups" model="$ctrl.allGroups"></checkbox>
                    <checkbox ng-repeat="group in $ctrl.groups" label="{{ group.Name }}" model="$ctrl.selectedGroups[group.ID]"></checkbox>
                </div>
            </div>
        </div>
        <div class="card mt-3 mb-3">
            <div class="card-header"><i class="fas fa-desktop"></i> Hosts</div>
            <div class="card-body">
                <div class="form-check">
                    <checkbox label="All Hosts" model="$ctrl.allHosts"></checkbox>
                    <checkbox ng-repeat="host in $ctrl.hosts" label="{{ host.HostName }}" model="$ctrl.selectedHosts[host.HostID]"></checkbox>
                </div>
            </div>
        </div>
        <wait-button title="Run" loading="$ctrl.loading" click="$ctrl.execute(executeForm.$valid)"></wait-button>
    </form>
    <div ng-if="$ctrl.stage === 'executing'">
        <p>
            <i class="fas fa-spinner fa-pulse"></i>
            <strong class="a-little-to-the-left">Executing Scripts...</strong>
        </p>
        <div class="progress">
            <div class="progress-bar" ng-style="$ctrl.searchProgressStyle"> {{ $ctrl.executePercent }} % </div>
        </div>
    </div>
    <div ng-if="$ctrl.stage === 'results'">
        <div ng-repeat="result in $ctrl.results" class="card mb-3" ng-class="$ctrl.borderClass(result)">
            <div class="card-header" ng-class="$ctrl.headerClass(result)">
                <strong>{{ result.Host }}</strong>
            </div>
            <div class="card-body" ng-if="result.error">
                <h3>Error</h3>
                <p>{{ result.error.message }}</p>
            </div>
            <div class="card-body" ng-if="!result.error">
                <h3>Result</h3>
                <ul class="list-no-item">
                    <li ng-if="result.Result.ExecError"><strong>Error:</strong> <span>{{ result.Result.ExecError }}</span></li>
                    <li ng-if="!result.Result.ExecError"><strong>Return Code:</strong> <span>{{ result.Result.Code }}</span></li>
                    <li><strong>Duration:</strong> {{ result.Duration | duration }}</li>
                </ul>
                <h4>Environment Variables</h4>
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Key</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="env in result.Environment">
                                <td>{{ env.Key }}</td>
                                <td><code>{{ env.Value }}</code></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <span ng-if="!result.Result.ExecError">
                    <h3>Output</h3>
                    <h4>Stdout</h4>
                    <pre class="monospace">{{ result.Result.Stdout }}</pre>
                    <h4>Stderr</h4>
                    <pre class="monospace">{{ result.Result.Stderr }}</pre>
                </span>
            </div>
        </div>
    </div>
</page-wrapper>