<div class="modal-header">
    <h5 class="modal-title">Select Hosts</h5>
</div>
<div class="modal-body">
    <table class="checkbox-table">
        <tbody>
            <tr ng-repeat="host in $ctrl.hosts">
                <td>
                    <input type="checkbox" id="{{ host.ID }}" name="{{ host.ID }}" ng-model="$ctrl.selectedHosts[host.ID]"/>
                </td>
                <td>
                    <label for="{{ host.ID }}">{{ host.Address }}</label>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" ng-click="$ctrl.response(false)">Discard</button>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.response(true)">Apply</button>
</div>