[Unit]
Description=Otto Agent
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/otto-agent/
ExecStart=/opt/otto-agent/agent
TimeoutSec=5000
Restart=on-failure

[Install]
WantedBy=multi-user.target